django==4.2
mysqlclient
djangorestframework~=3.16.0
python-decouple~=3.8
djangorestframework-simplejwt
Pillow==10.0.0
django-qrcode~=0.3
qrcode[pil]==7.4.2
requests~=2.32.2
python-dotenv~=1.0.1
jsonschema~=4.23.0
pyngrok~=7.2.8